<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo app</title>
</head>
<body>
    <div class="table-container">
        <h2 class="todo-title">Todo list</h2>
        <div>
            <a class="btn" href="">Add todo</a>
        </div>
        <br>
        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>Todo 1</td>
                <td>Todo 1 description</td>
                <td>2020-12-12 12:12:12</td>
                <td>2020-12-12 12:12:12</td>
                <td>
                    <a class="btn" href="">Edit</a>
                    <a class="btn" href="">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>